In [28]:
import pandas as pd

# load the csv file
# this is my directory, don't forget to switch to your own directory
file_path = '../BirdStrikesData-1.csv'
df = pd.read_csv(file_path)

In [29]:
# standarlize the column names

# define a function to delete :, /, ?, $, 
# remove any leading or trailing whitespace from the column names
# replace ' ' with _
# set all letteres to lowercase
def clean_column_names(columns):
    cleaned_columns = columns.str.replace(':', '', regex=False) \
                             .str.replace('/', '', regex=False) \
                             .str.replace('?', '', regex=False) \
                             .str.replace('$', '', regex=False) \
                             .str.strip() \
                             .str.replace(' ', "_", regex=False) \
                             .str.lower()
    return cleaned_columns

df.columns = clean_column_names(df.columns)

In [30]:
from IPython.display import display

# Print the cleaned column names to check
print("First few rows of the DataFrame:")
display(df.head())

First few rows of the DataFrame:

,record_id,aircraft_type,airport_name,altitude_bin,aircraft_makemodel,wildlife_number_struck,wildlife_number_struck_actual,effect_impact_to_flight,flightdate,effect_indicated_damage,...,remains_of_wildlife_sent_to_smithsonian,remarks,wildlife_size,conditions_sky,wildlife_species,pilot_warned_of_birds_or_wildlife,cost_total,feet_above_ground,number_of_people_injured,is_aircraft_large
0,202152,Airplane,LAGUARDIA NY,> 1000 ft,B-737-400,Over 100,859,Engine Shut Down,11/23/2000 0:00,Caused damage,...,False,FLT 753. PILOT REPTD A HUNDRED BIRDS ON UNKN T...,Medium,No Cloud,Unknown bird - medium,N,"30,736","1,500",0,Yes
1,208159,Airplane,DALLAS/FORT WORTH INTL ARPT,< 1000 ft,MD-80,Over 100,424,None,7/25/2001 0:00,Caused damage,...,False,102 CARCASSES FOUND. 1 LDG LIGHT ON NOSE GEAR ...,Small,Some Cloud,Rock pigeon,Y,0,0,0,No
2,207601,Airplane,LAKEFRONT AIRPORT,< 1000 ft,C-500,Over 100,261,None,9/14/2001 0:00,No damage,...,False,FLEW UNDER A VERY LARGE FLOCK OF BIRDS OVER AP...,Small,No Cloud,European starling,N,0,50,0,No
3,215953,Airplane,SEATTLE-TACOMA INTL,< 1000 ft,B-737-400,Over 100,806,Precautionary Landing,9/5/2002 0:00,No damage,...,False,"NOTAM WARNING. 26 BIRDS HIT THE A/C, FORCING A...",Small,Some Cloud,European starling,Y,0,50,0,Yes
4,219878,Airplane,NORFOLK INTL,< 1000 ft,CL-RJ100/200,Over 100,942,None,6/23/2003 0:00,No damage,...,False,NO DMG REPTD.,Small,No Cloud,European starling,N,0,50,0,No

In [33]:
# Function to display unique values in specified column
def display_unique_values(dataframe, column=None):
    if column:
        if column in dataframe.columns:
            unique_values = dataframe[column].unique()
            print(f"Column: {column}")
            print(f"Unique Values ({len(unique_values)}): {unique_values[:10]}")  # Display only first 10 unique values for brevity
            print("\n")
        else:
            print(f"Column '{column}' does not exist in the DataFrame.")
    else:
        for col in dataframe.columns:
            unique_values = dataframe[col].unique()
            print(f"Column: {col}")
            print(f"Unique Values ({len(unique_values)}): {unique_values[:10]}")  # Display only first 10 unique values for brevity
            print("\n")


# Display unique values for a specific column
# display_unique_values(df, 'airport_name')

# Display unique values for all columns
display_unique_values(df)

Column: record_id
Unique Values (25558): [202152 208159 207601 215953 219878 218432 221697 236635 207369 204371]


Column: aircraft_type
Unique Values (2): ['Airplane' nan]


Column: airport_name
Unique Values (1110): ['LAGUARDIA NY' 'DALLAS/FORT WORTH INTL ARPT' 'LAKEFRONT AIRPORT'
 'SEATTLE-TACOMA INTL' 'NORFOLK INTL' 'GUAYAQUIL/S BOLIVAR'
 'NEW CASTLE COUNTY' 'WASHINGTON DULLES INTL ARPT' 'ATLANTA INTL'
 'ORLANDO SANFORD INTL AIRPORT']


Column: altitude_bin
Unique Values (3): ['> 1000 ft' '< 1000 ft' nan]


Column: aircraft_makemodel
Unique Values (351): ['B-737-400' 'MD-80' 'C-500' 'CL-RJ100/200' 'A-300' 'LEARJET-25' 'A-320'
 'DC-9-30' 'A-330' 'FOKKER F100']


Column: wildlife_number_struck
Unique Values (5): ['Over 100' '2 to 10' nan '11 to 100' '1']


Column: wildlife_number_struck_actual
Unique Values (106): [859 424 261 806 942 537 227 320   9   4]


Column: effect_impact_to_flight
Unique Values (6): ['Engine Shut Down' 'None' 'Precautionary Landing' 'Other'
 'Aborted Take-off' nan]


Column: flightdate
Unique Values (4226): ['11/23/2000 0:00' '7/25/2001 0:00' '9/14/2001 0:00' '9/5/2002 0:00'
 '6/23/2003 0:00' '7/24/2003 0:00' '8/17/2003 0:00' '3/1/2006 0:00'
 '1/6/2000 0:00' '1/7/2000 0:00']


Column: effect_indicated_damage
Unique Values (2): ['Caused damage' 'No damage']


Column: aircraft_number_of_engines
Unique Values (6): ['2' '3' '4' nan '1' 'C']


Column: aircraft_airlineoperator
Unique Values (293): ['US AIRWAYS*' 'AMERICAN AIRLINES' 'BUSINESS' 'ALASKA AIRLINES'
 'COMAIR AIRLINES' 'UNITED AIRLINES' 'AIRTRAN AIRWAYS' 'AIRTOURS INTL'
 'AMERICA WEST AIRLINES' 'EXECUTIVE JET AVIATION']


Column: origin_state
Unique Values (61): ['New York' 'Texas' 'Louisiana' 'Washington' 'Virginia' nan 'Delaware'
 'DC' 'Georgia' 'Florida']


Column: when_phase_of_flight
Unique Values (8): ['Climb' 'Landing Roll' 'Approach' 'Take-off run' 'Descent' nan 'Taxi'
 'Parked']


Column: conditions_precipitation
Unique Values (8): ['None' 'Snow' 'Fog' 'Rain' 'Fog, Rain' 'Rain, Snow' 'Fog, Rain, Snow'
 'Fog, Snow']


Column: remains_of_wildlife_collected
Unique Values (2): [False  True]


Column: remains_of_wildlife_sent_to_smithsonian
Unique Values (2): [False  True]


Column: remarks
Unique Values (18187): ['FLT 753. PILOT REPTD A HUNDRED BIRDS ON UNKN TYPE. #1 ENG WAS SHUT DOWN AND DIVERTED TO EWR. SLIGHT VIBRATION. A/C WAS OUT OF SVC FOR REPAIRS TO COWLING, FAN DUCT ACCOUSTIC PANEL. INGESTION. DENTED FAN BLADE #26 IN #1 ENG. HEAVY BLOOD STAINS ON L WINGTIP'
 '102 CARCASSES FOUND. 1 LDG LIGHT ON NOSE GEAR WAS DAMAGED AND REPLACED.'
 'FLEW UNDER A VERY LARGE FLOCK OF BIRDS OVER APCH END OF RWY. NO DMG. JUST A LOT OF BIRD DROPPINGS ON WINDSCREEN.'
 'NOTAM WARNING. 26 BIRDS HIT THE A/C, FORCING AN EMERGENCY LDG. 77 BIRDS WERE FOUND DEAD ON RWY/TWY WITH GRASSHOPPERS IN THEIR STOMACHS. SAFETY AREAS COULD NOT BE THOROUGHLY INSPCTD DURING 14 MINUTE SHUTDOWN OF RWY 34L. NO DMG. A/C OUT OF SVC 40 MINS. PHOT'
 'NO DMG REPTD.' 'NO DMG. BIRD REMAINS ON F/O WINDSCREEN.' nan
 'WS ASSISTED IN CLEAN-UP OF 273 STARLINGS AND 1 BROWN-HEADED COWBIRD FROM RWY THRESHOLD. PHOTOS OF A/C TAKEN. BORESCOPED BOTH ENGS. FOUND DENTS AND NICKS IN STAGES 3-6. ALL WITHIN LIMITS. CLEANED RADOME, L WING, FLAPS, PYLON, GEAR AND LEADING EDGE FLAPS. R'
 'FLT 057'
 'FLEW THRU A FLOCK OF ABOUT 30 BIRDS. INGESTED 1. REPTS DIFFER ON  ENG STRUCK, COULD BE #1 AND/OR #2.']


Column: wildlife_size
Unique Values (4): ['Medium' 'Small' 'Large' nan]


Column: conditions_sky
Unique Values (3): ['No Cloud' 'Some Cloud' 'Overcast']


Column: wildlife_species
Unique Values (348): ['Unknown bird - medium' 'Rock pigeon' 'European starling'
 'Unknown bird - small' 'Canada goose' 'Snow goose' 'Black-headed munia'
 'Ring-billed gull' 'Sandhill crane' 'Western meadowlark']


Column: pilot_warned_of_birds_or_wildlife
Unique Values (3): ['N' 'Y' nan]


Column: cost_total
Unique Values (803): ['30,736' '0' '1,481,711' '1,483,141' '8,600' '35,146' '1,336' '10,691'
 '1,069' '801,820']


Column: feet_above_ground
Unique Values (258): ['1,500' '0' '50' '150' '100' '200' '1,700' '1,800' '500' '800']


Column: number_of_people_injured
Unique Values (4): [0 2 1 6]


Column: is_aircraft_large
Unique Values (3): ['Yes' 'No' nan]

In [ ]:
#  delete rows with missing values for columns that should not contain null values

In [ ]:
# Correct data types for flightdate